NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Set AI_PROVIDER to "anthropic" or "openai" (default: openai)
AI_PROVIDER=openai
AI_BASE_URL=
AI_MODEL=

# OpenAI
OPENAI_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=
